body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

#main-header {
    z-index: 1000;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;
    
    box-shadow: 0px 12px 12px rgba(0, 0, 0, .25);
}

#main-header.shrink {
    padding: 10px;
    font-size: 14px;
    background-color: #222;
}

#header-label {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s ease;
}

#header-label h1 {
    transition: font-size 0.3s ease;
}

#header-label h3 {
    transition: opacity 0.3s ease, height 0.3s ease;
}

#header-label.shrink h1 {
    font-size: 20px;
}

#header-label.shrink h3 {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#lang-toggle{
    top: 10px;
    right: 20px;
    position: fixed;
}

#lang-icon {
    width: 20px;
    height: 20px;
    align-items: center;
    padding: 0;
}

#toggle-lang {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #bbb;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);

    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, font-size 0.3s ease; 
}

#toggle-lang.shrink{
    width: 50px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, font-size 0.3s ease; 
}


#nav-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #bbb;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    color: white;
    z-index: 1000;
}

nav.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color : #bbb;
    border-radius : 10px;
    box-shadow : 0 4px 8px rgba(0, 0, 0, 0.2);
    padding : 10px 20px 10px 20px;
    margin : 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav li {
    padding: 10px 0;
    transition: translate 0.2s;
}

nav li:hover {
    translate: 5px; 
}

nav a {
    color: black;
    text-decoration: underline;
    font-size: 18px;
    display: block;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

.label {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
}

.title h3, .title h4 {
    margin: 0;
}

p {
    margin-bottom: 0;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    min-width: 350px;
    cursor: pointer;

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.05); 
}

.project-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
    margin-left: 10px;
}

.experience{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    min-width: 350px;
    cursor: pointer;

    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.experience:hover {
    transform: scale(1.05); 
}

.experience-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
    margin-right: 10px;
    
}

#resumes-container {
    display: flex;
    flex-direction: row;
}

#resumes-container button{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 150px; 
    height: 100%; 
    cursor: pointer;
    margin: 5px;
    
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

#resumes-container button:hover {
    transform: scale(1.05); 
}

.icon {
    width: 32px; 
    height: auto; 
    margin: 5px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px;
}

@media (max-width: 750px) {
    #nav-button {
        display: block;
        margin-left: 10px;
    }
    
    nav {
        display: none;
    }
}